* {
  padding: 0;
  margin: 0; }

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

span {
  opacity: 0.6; }

#main {
  background-image: linear-gradient(to right, rgba(36, 89, 119, 0.753), yellow);
  width: 100%; }

.row {
  padding: 80px 50px; }

#header {
  background: rgba(255, 254, 254, 0.281);
  border-radius: 10px; }
  #header .header__info {
    display: flex;
    padding: 30px 20px; }
    #header .header__info img.avata {
      width: 150px;
      border-radius: 20px; }
    #header .header__info .col {
      padding-left: 30px;
      display: inline-block;
      width: 310px; }
      #header .header__info .col .col__begin {
        display: inline-block;
        width: 100%; }
        #header .header__info .col .col__begin .name {
          display: inline-block;
          padding-right: 10px; }
          #header .header__info .col .col__begin .name h1 {
            font-size: 23px;
            padding-bottom: 10px; }
          #header .header__info .col .col__begin .name p {
            font-size: 18px; }
        #header .header__info .col .col__begin .logo {
          padding: 0 10px;
          width: 50px;
          float: right;
          background: rgba(255, 254, 254, 0.281);
          border-radius: 10px;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
      #header .header__info .col .social {
        padding-top: 40px;
        font-size: 25px; }
        #header .header__info .col .social .fb {
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          text-decoration: none;
          font-weight: 700;
          font-size: 25px;
          position: relative;
          color: #000;
          padding: 8px 15px;
          margin-left: 30px;
          border-radius: 100%;
          background-color: #fff; }
          #header .header__info .col .social .fb::before {
            line-height: 30px;
            text-align: center;
            font-size: 13px;
            opacity: 0;
            content: 'facebook';
            border-radius: 20px;
            position: absolute;
            width: 120px;
            height: 30px;
            background-color: #2d52b8;
            top: 0;
            left: -35px;
            transition: all 0.3s ease-in-out; }
          #header .header__info .col .social .fb:hover {
            color: #fff;
            background-color: #2a2dd8; }
          #header .header__info .col .social .fb:hover::before {
            top: -40px;
            left: -35px;
            opacity: 1;
            letter-spacing: 5px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
        #header .header__info .col .social .yt {
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          text-decoration: none;
          font-weight: 700;
          font-size: 25px;
          position: relative;
          color: #000;
          padding: 8px 10px;
          margin-left: 30px;
          border-radius: 100%;
          background-color: #fff; }
          #header .header__info .col .social .yt::before {
            line-height: 30px;
            text-align: center;
            font-size: 13px;
            opacity: 0;
            content: 'youtube';
            border-radius: 20px;
            position: absolute;
            width: 120px;
            height: 30px;
            background-color: red;
            top: 0;
            left: -35px;
            transition: all 0.3s ease-in-out; }
          #header .header__info .col .social .yt:hover {
            color: #fff;
            background-color: red; }
          #header .header__info .col .social .yt:hover::before {
            top: -40px;
            left: -35px;
            opacity: 1;
            letter-spacing: 5px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
    #header .header__info .col__address {
      padding-left: 80px;
      font-size: 20px; }
      #header .header__info .col__address .email {
        padding-bottom: 30px; }
    #header .header__info .col__birth {
      padding-left: 80px;
      font-size: 20px; }
      #header .header__info .col__birth .birth {
        padding-bottom: 30px; }

#content {
  display: flex;
  padding-top: 30px; }
  #content .aside {
    display: inline-block;
    background: rgba(255, 254, 254, 0.281);
    border-radius: 10px;
    width: 200px; }
    #content .aside .nav {
      text-align: center;
      padding: 30px; }
      #content .aside .nav .nav__box {
        font-size: 30px;
        border-radius: 20px;
        margin-bottom: 30px; }
        #content .aside .nav .nav__box p {
          font-size: 24px; }
        #content .aside .nav .nav__box:hover {
          color: #4BB3FD;
          background-image: linear-gradient(to top, rgba(36, 89, 119, 0.904), yellow); }
  #content .section {
    background: rgba(255, 254, 254, 0.281);
    margin-left: 30px;
    display: inline-block;
    border-radius: 10px; }
    #content .section .nav__me {
      padding: 30px; }
      #content .section .nav__me #me h1 {
        font-size: 50px;
        margin-bottom: 30px; }
      #content .section .nav__me #me P {
        font-size: 16px;
        padding-bottom: 20px; }
      #content .section .nav__me #me h2 {
        font-size: 24px; }
      #content .section .nav__me #me .me__web {
        padding: 50px; }
        #content .section .nav__me #me .me__web .group {
          display: inline-block;
          padding-right: 20px; }
          #content .section .nav__me #me .me__web .group img {
            border-radius: 10px;
            width: 400px;
            transition: all .3s ease; }
            #content .section .nav__me #me .me__web .group img:hover {
              transform: scale(1.05); }
          #content .section .nav__me #me .me__web .group p {
            padding-top: 20px;
            font-size: 24px;
            text-align: center; }
