* {
    padding: 0;
    margin: 0;
}
@import './variables.scss';
@import './mixin.scss';
@import './tablet.scss';
@import './phone.scss';
@import './small_phone.scss';

html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    
}




// kết thúc thành phần chung

#main {
    background-image: linear-gradient(to right, rgba(36, 89, 119, 0.753), yellow);
    width: 100%; 
}
.row {
    padding: 80px 50px;
}

#header {
    background: rgba(255, 254, 254, 0.281);
    border-radius: 10px;
    .header__info {
        display: flex;
        padding: 30px 20px;
        img.avata {
            width: 150px;
            border-radius: 20px;
        }
        .col {
            padding-left: 30px;
            display: inline-block;
            width: 310px;
            .col__begin {
                display: flex;
                width: 100%;
                .name {
                    display: inline-block;
                    padding-right: 10px;
                    h1 {
                        font-size: 23px; 
                        padding-bottom: 10px;  
                    }
                    p { 
                        font-size: 18px;
                    }
                }
                .logo { 
                    transition: all .3s ease-in-out;  
                    padding: 0 10px;
                    width: 50px;
                    float: right;
                    background: rgba(255, 254, 254, 0.281);
                    border-radius: 10px;
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
            .social {
                padding-top: 40px;
                font-size: 25px;
                .fb {
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 25px ;
                    position: relative;
                    color: $blColor;
                    padding: 8px 15px;
                    margin-left: 30px;
                    border-radius: 100%;
                    background-color: $textColor;
                    &::before {
                        line-height: 30px;
                        text-align: center;
                        font-size: 13px;
                        opacity: 0;
                        content: 'facebook';
                        border-radius: 20px;
                        position: absolute;
                        width: 120px;
                        height: 30px;
                        background-color: rgb(45, 82, 184);
                        top: 0;
                        left: -35px;
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover {
                        color: $textColor;
                        background-color: rgb(42, 45, 216);
                    }
                    &:hover::before {
                        top: -40px;
                        left: -35px;
                        opacity: 1;
                        letter-spacing: 5px;
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
                    }
                }
                .yt {
                    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 25px ;
                    position: relative;
                    color: $blColor;
                    padding: 8px 10px;
                    margin-left: 30px;
                    border-radius: 100%;
                    background-color: $textColor;
                    &::before {
                        line-height: 30px;
                        text-align: center;
                        font-size: 13px;
                        opacity: 0;
                        content: 'youtube';
                        border-radius: 20px;
                        position: absolute;
                        width: 120px;
                        height: 30px;
                        background-color: red;
                        top: 0;
                        left: -35px;
                        transition: all 0.3s ease-in-out;
                    }
                    &:hover {
                        color: $textColor;
                        background-color: red;
                    }
                    &:hover::before {
                        top: -40px;
                        left: -35px;
                        opacity: 1;
                        letter-spacing: 5px;
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5)
                    }
                }
            }  
        }
        .col__address {
            padding-left: 25px;
            font-size: 20px;
            .email {
                padding-bottom: 30px;
            }
        }
        .col__birth {
            padding-left: 25px;
            font-size: 20px;
            .birth {
                padding-bottom: 30px;
            }
        }
    }
}
#content {
    display: flex;
    padding-top: 30px;
    .aside {
        display: inline-block;
        background: rgba(255, 254, 254, 0.281);
        border-radius: 10px;
        width: 200px;
        .nav {
            text-align: center;
            padding: 30px;
            .tab__box {
                i {
                    font-size: 100px;
                    padding-bottom: 10px;
                }
                color: black;
                padding: 20px 10px;
                background: none;
                border:none;
                font-size: 30px;
                border-radius: 20px;
                margin-bottom: 30px;
                p {
                    font-size: 24px;            
                }     
                &:hover {
                    color: rgba(47, 64, 161, 0.637);
                    cursor: pointer;
                  
                    background-image: linear-gradient(to top, rgba(36, 89, 119, 0.904), yellow);
                }       
            } 
            .active {
                background-image: linear-gradient(to top, rgba(36, 89, 119, 0.904), yellow);;
            } 
        }
    }
    .section {
        background: rgba(255, 254, 254, 0.281);
        margin-left: 30px;
        display: inline-block;
        border-radius: 10px;
        .tab__content {
            display: none;
            padding: 30px;
            h1 {
                font-size: 50px;
                margin-bottom: 30px;
            }
            P {
                font-size: 16px;
                padding-bottom: 20px;
            }
            h2 {
                font-size: 24px;
            }
            .me__web {
                padding: 50px;
                .group { 
                    display: inline-block;
                    padding-right: 20px;
                    img {
                        border-radius: 10px;
                        width: 400px;
                        transition: all .3s ease;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                    p { 
                        padding-top: 20px;
                        font-size: 24px;
                        text-align: center;
                    }
                }
            }  
        }
        .active {
            display: block;
        }
        #learn {
            .education {
                .edu__logo {
                    padding-bottom: 30px;
                    font-size: 30px;
                    i {
                        font-size: 50px;
                    }
                }
                .edu__content {
                    padding-left: 70px;
                    h4 {
                        padding: 20px 0;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}